.completed {
  text-decoration: line-through;
}

.app {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.app button {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: #bf0020;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.app button:hover {
  background-color: #ffa7b9;
}

.app button:active {
  background-color: #ff8fa2;
}

body {
  background-color: #ffc0cb; /* Ganti dengan warna pink muda yang Anda inginkan */
}
